<!doctype html>
{% load staticfiles %}
{% load exteras %}
{% load jformat %}

<html lang="fa">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/droid-arabic-naskh" type="text/css"/>
    <title>ثبت ساعت</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
      {% block JS %}

      {% endblock %}
  </head>
  <body class="d-flex justify-content-center">
    <nav class="navbar navbar-expand-sm navbar-light fixed-top">
	  	<a class="navbar-brand" href="#">
	  		<img src="{% static "images/logo.png" %}" width= 60px height= 60px alt="LOGO">
		</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" href="/logout">خروج</a>
      </li>
    </ul>
        <span class="navbar-text collapse navbar-collapse">
            {{ dtNow|jformat:"%A %d %m %Y %H:%M"|datetimefarsi }}
        </span>
	    <span class=" navbar-text collapse navbar-collapse ">

            {% if registered %}
            <small>{{ name }}
                    خوش آمدید
            </small>
                {% if img == "" %}
                    <img src="{% static "images/profpic.png" %}" width= 60px height= 60px alt="ProfilePic" class="profile">
                {% else %}
                    <img src="{{ MEDIA_URL }}{{ img }}" width= 60px height= 60px alt="ProfilePic" class="profile">

                {% endif %}
            {% endif %}
	    </span>
  </div>
	</nav>

    {% block content %}
    
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    </body>
</html>