<!doctype html>
<html lang="fa">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/css/login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">


    <title>صفحه ورود کاربر</title>

  </head>
  <body class="d-flex justify-content-center">
      <div  class="container col-lg-4 col-md-8 col-sm-12">
        <form class="form-group jumbotron" method="POST">

        <!--<div class="logo" style="background-image: url('../../static/images/logo.png');"></div>-->


        <h2 class="d-flex justify-content-center">ورود کاربران</h2>
        <hr>
        <br>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa fa-user"></i>
            </span>
            <span class="glyphicons glyphicons-user"></span>
          </div>
          <input type="text" class="form-control" placeholder="نام کاربری" id="user" name="username" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <i class="fa fa-lock"></i>
            </span>
          </div>
          <input type="password" name="password" class="form-control" placeholder="رمز عبور" id="pass" aria-label="Password" aria-describedby="basic-addon1">
        </div>
            {% csrf_token %}
            {{ form.as_p }}
        <br>
            <span id="error">{{ error }}</span>
        <br>
        <button type="submit" class="btn btn-lg btn-outline-submit form-control btn-create" id="log">ورود</button>
        <br>
        <br>
        <div class="custom-control custom-checkbox d-flex justify-content-center">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" onclick="myFunction()" for="customCheck1"><small>نمایش رمز عبور</small></label>
            <hr>
            <a href="/register"><small>ایجاد حساب کاربری</small></a>
        </div>

      </form>
      </div>


    <!-- Optional JavaScript -->
      <script>
        function myFunction() {
            var x = document.getElementById("pass");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
      </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="../../static/js/login.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

  </body>
</html>
